<h1>Submit Your Quotes Below</h1>
<form (ngSubmit)="submitQuote">

    <div class="mb-3">
        <label for="quote" class="form-label" >Quote</label>
        <textarea class="form-control" id="quote" rows="3" placeholder="Enter Quote Here" [(ngModel)]="quote"></textarea>
      </div>
    
      <div class="mb-3">
        <label for="quoteAuthor" class="form-label" >Quote Author</label>
        <input type="text" class="form-control" id="quoteAuthor" placeholder="Enter Quote Author" [(ngModel)]="quoteAuthor">
      </div>

      <div class="mb-3">
        <label for="yourName" class="form-label">Submitted By:</label>
        <input type="text" class="form-control" id="yourName" placeholder="Enter Your Name" [(ngModel)]="submittedBy">
      </div>
      <button class="btn btn-info" type="submit">Submit Quote</button>
</form>
<br>

<div>
    <p class="margin-none">Quote:<span>{{quote}}</span></p>
    <p class="margin-none">Quote Author:<span>{{quoteAuthor}}</span></p>
    <p class="margin-none">Submitted By:<span>{{submittedBy}}</span></p>
</div>



