<h1>Submit Your Quotes Below</h1>
<form action="">

    <div class="mb-3">
        <label for="quote" class="form-label">Quote</label>
        <textarea class="form-control" id="quote" rows="3" placeholder="Enter Quote Here"></textarea>
      </div>
    
      <div class="mb-3">
        <label for="quoteAuthor" class="form-label">Quote Author</label>
        <input type="text" class="form-control" id="quoteAuthor" placeholder="Enter Quote Author">
      </div>

      <div class="mb-3">
        <label for="yourName" class="form-label">Submitted By:</label>
        <input type="text" class="form-control" id="yourName" placeholder="Enter Your Name">
      </div>
      <div class="mb-3">
        <label for="Date" class="form-label">Date</label>
        <input type="date" class="form-control" id="Date" placeholder="Enter Today's Date">
      </div>
      <button class="btn btn-info" type="submit">Submit Quote</button>
      
</form>



