<div>
    <p><b>Author:</b>{{quotes.quoteAuthor}}</p>
    <p><b>Submitted By:</b>{{quotes.submittedBy}}</p>
    <p><b>Date Submitted</b>{{quotes.dateSubmitted}}</p>
    <button (click)="upvotes ()"><img src="https://www.svgrepo.com/show/337033/thumbs-up.svg" style="width: 50px;" alt="">{{newUpvotes}}</button>
    <button (click)="downvotes ()"><img src="https://www.svgrepo.com/show/388763/thumbs-down.svg" style="width: 50px;" alt="">{{newDownvotes}}</button>
    <button class="btn btn-danger" (click)="deleteQuoteFromPage(true)"> DELETE QUOTE</button>

</div>
